{% extends "global/Page.html" %}
{% block title %}Example:{% endblock %}
{% block content %}
   <div class="container">
<div class="mt-3">

    <p>You can adjust the proportion of your investment in Lottery 1 by moving the slider.  </p>
        <ul>
        <li>If the value is 0.3, you allocate 30% of your money to Lottery 1 and 70% to Lottery 2.</li>
        <li>If the value is 1, you allocate all your money to Lottery 1.</li>
    </ul>
    <p> You can choose any number from 0.1 to 1.0 in increments of 0.1. The minimum investment in Lottery 1 is 10% (0.1), as selecting 0 is not allowed. </p>
</div>



 {% next_button %}

   </div>
{% endblock %}