{% extends "global/Page.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
    <div class="container">
        <h5>Please read the following instructions carefully:</h5>

        <ul style="font-size: 1.25rem; line-height: 1.5;">
            <li>
                <strong>Asset Allocation:</strong>
                <ul style="font-size: 1.25rem; line-height: 1.5;">
                    <li>You will be given 1 token to distribute between two lotteries: Lottery 1 (L1) and Lottery 2 (L2).</li>
                    <li>Use the slider to allocate your tokens.</li>
                    <li>Example: If you allocate 0.6 tokens to L1, the remaining 0.4 will automatically go to L2.</li>
                </ul>
            </li>
            <li>
                <strong>Inverse Relationship:</strong>
                <ul style="font-size: 1.25rem; line-height: 1.5;">
                    <li>L1 and L2 have an inverse relationship. When one increases in value, the other decreases.</li>
                    <li>This means that in any outcome, one lottery will perform well while the other performs poorly.</li>
                </ul>
            </li>



        {% next_button %}
    </div>
{% endblock %}