{% extends "global/Page.html" %}
{% block title %}Introduction {% endblock %}
{% block content %}
    <div class="container">
        <p> Welcome to our study on hedging. This study will take approximately 30 minutes to complete and consists of 45 rounds. </p>

        <p>Your main task is to decide how to allocate your assets between Lottery 1 (L1) and Lottery 2 (L1) in each round. Consider the potential outcomes and their probabilities carefully to make your decision.</p>

        <p>At the end of the experiment, one of the 45 lottery rounds will be randomly selected for each participant.</p>

        <p> Based on this result, the participant will receive an additional payment.</p>




        {% next_button %}
    </div>
{% endblock %}