{% extends "global/Page.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="container">
        <h5>Thank you for participating in our study.</h5>

        <ul style="font-size: 1.25rem; line-height: 1.5;">
            <li>This experiment examines decision-making in asset allocation. It consists of 45 rounds and will take approximately 40 minutes to complete.</li>
            <li>In each round, you will allocate your assets between two options: Lottery 1 (L1) and Lottery 2 (L2).</li>
            <li>At the conclusion of the experiment, one round will be randomly selected for each participant.</li>
            <li>The outcome of this round will be determined based on your choice, so please pay full attention to the study.</li>
        </ul>

        {% next_button %}
    </div>
{% endblock %}